.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.diceButton:active{
    animation-name: diceswitch;
    animation-duration: 30s;
    transform: translateY(-4px);
}
@keyframes diceswitch {
  0%  {background: url(./dice1.jpg);}
  10% {background: url(./dice3.jpg);}
  20% {background: url(./dice6.jpg);}
  30% {background: url(./dice4.jpg);}
  40% {background: url(./dice3.jpg);}
  50% {background: url(./dice1.jpg);}
  60% {background: url(./dice3.jpg);}
  70% {background: url(./dice6.jpg);}
  80% {background: url(./dice5.jpg);}
  90% {background: url(./dice2.jpg);}
  100% {background: url(./dice4.jpg);}
}
.diceButton{
    height: 85px;
    width: 85px;
    margin: auto;
    background: url(./dice1.jpg);
}
.diceButton:hover {
    background-color: #3e8e41
}

#refreshbtn{
    margin-top: 45px;
}
